.u-section-1 .u-sheet-1 {
  min-height: 1215px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 0 auto 0 0;
  padding: 8px 33px;
}

.u-section-1 .u-image-1 {
  width: 800px;
  height: 600px;
  margin: 24px auto 0 105px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -42px 49px 0 203px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 12px 49px 0 203px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 206px auto 0;
  padding: 25px 158px 25px 157px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 34px auto 0;
  padding: 10px 235px 10px 233px;
}

.u-section-1 .u-text-3 {
  margin: 24px 849px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1225px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -34px;
    margin-right: 53px;
    margin-left: 169px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 72px;
    margin-left: 169px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 203px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-right: 649px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 540px;
    width: 720px;
    margin-top: 23px;
    margin-left: -12px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -31px;
    margin-right: 47px;
    margin-left: 79px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 80px;
    margin-left: 79px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 256px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 429px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1309px;
  }

  .u-section-1 .u-image-1 {
    height: 405px;
    margin-top: 83px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -10px;
    margin-right: 0;
    margin-left: 63px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 63px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 322px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 154px;
    padding-left: 154px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 249px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 79px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 27px;
    padding-left: 26px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 73px;
    padding-bottom: 11px;
    padding-left: 73px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 94px;
    margin-right: 99px;
    margin-left: -50px;
  }
}